/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > * {
  flex-grow: 1;
}
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header > * {
    flex-grow: 0;
  }
}
.header .title {
  padding: 24px;
}
@media screen and (max-width: 600px) {
  .header .title {
    padding: 16px;
    margin-bottom: 16px;
  }
}
.header .title h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 16px;
}
@media screen and (max-width: 600px) {
  .header .title h1 {
    font-size: 3.75rem;
  }
}
.header .title p {
  font-size: 2rem;
  max-width: 400px;
}
@media screen and (max-width: 600px) {
  .header .title p {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 600px) {
  .header .actions {
    display: flex;
  }
}
.header .actions .btn {
  width: 200px;
  margin: 16px;
}
@media screen and (max-width: 600px) {
  .header .actions .btn {
    width: auto;
  }
}
.header .actions .action-more {
  background-color: #1976d2;
}

.section {
  margin-bottom: 128px;
}
@media screen and (max-width: 600px) {
  .section {
    margin-bottom: 112px;
  }
}
.section .section__title {
  margin-bottom: 64px;
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .section .section__title {
    font-size: 1.875rem;
    margin-bottom: 48px;
  }
}
.section .sub-section {
  margin-bottom: 64px;
}
.section .sub-section:last-of-type {
  margin-bottom: 0px;
}
@media screen and (max-width: 600px) {
  .section .sub-section {
    margin-bottom: 48px;
  }
}
.section .sub-section__text {
  font-size: 1.25rem;
  line-height: 1.25em;
  margin-bottom: 16px;
}
@media screen and (max-width: 600px) {
  .section .sub-section__text {
    font-size: 1.125rem;
  }
}
.section .sub-section__image {
  max-height: 450px;
  max-width: 100%;
}
.section .sub-section .list {
  margin-top: 16px;
  margin-bottom: 4px;
}
.section .sub-section .image-wrapper {
  display: flex;
}
.section .sub-section .image-wrapper img {
  max-height: 450px;
  width: 50%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.card {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 24px;
}
.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.card__list {
  font-size: 1.125rem;
}
.card__list li {
  margin-bottom: 4px;
}
.card__list li:last-of-type {
  margin-bottom: 0px;
}
.card--last {
  grid-column: 1/3;
}

.btn {
  position: relative;
  display: block;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  text-decoration: none;
  padding: 1em 1.5em;
  text-align: center;
  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.4s ease-out, padding-top 0.4s ease-out;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

html {
  font-size: 16px;
}

.content-wrapper {
  max-width: 750px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .content-wrapper {
    max-width: none;
    margin: 0;
    padding: 0 24px;
  }
}

/*# sourceMappingURL=main.css.map */
