@import "variables";
@import "mixins";

.cards {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: $s * 4;

  @include mqMobileMax {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: #f3f3f3;
  border-radius: 10px;

  padding: $s * 6;

  &__title {
    font-size: 1.5rem;
    font-weight: 500;

    margin-bottom: $s * 4;

    @include mqMobileMax {
      font-size: 1.25rem;
    }
  }

  &__list {
    font-size: 1.125rem;

    @include mqMobileMax {
      font-size: 1rem;
    }

    li {
      margin-bottom: $s * 1;

      &:last-of-type {
        margin-bottom: $s * 0;
      }
    }
  }

  &--last {
    grid-column: 1 / 3;

    @include mqMobileMax {
      grid-column: 1 / 2;
    }
  }
}
