@import "variables";
@import "mixins";

.header {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    flex-grow: 1;
  }

  @include mqMobileMax {
    flex-direction: column;
    align-items: flex-start;

    & > * {
      flex-grow: 0;
    }
  }

  .title {
    padding: $s * 6;

    @include mqMobileMax {
      padding: $s * 4;

      margin-bottom: $s * 4;
    }

    h1 {
      font-size: 4rem;
      font-weight: bold;

      margin-bottom: $s * 4;

      @include mqMobileMax {
        font-size: 3.75rem;
      }
    }

    p {
      font-size: 2rem;

      @include mqMobileMax {
        font-size: 1.75rem;
      }

      max-width: 400px;
    }
  }

  .actions {
    @include mqMobileMax {
      display: flex;
    }

    .btn {
      width: 200px;

      @include mqMobileMax {
        width: auto;
      }

      margin: $s * 4;
    }

    .action-more {
      background-color: #1976d2;
    }
  }
}
