@import "variables";

.section {
  margin-bottom: $s * 32;

  .section__title {
    margin-bottom: $s * 16;

    font-size: 2rem;
    font-weight: bold;
  }

  .sub-section {
    margin-bottom: $s * 16;

    &__text {
      font-size: 1.25rem;
      line-height: 1.25em;

      margin-bottom: $s * 4;
    }

    &__image {
      max-height: 450px;
      max-width: 100%;

      &--full {
        width: 100%;
        height: 450px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .list {
      margin-top: $s * 4;
      margin-bottom: $s * 1;
    }

    .image-wrapper {
      display: flex;

      img {
        max-height: 450px;

        width: 50%;
      }
    }
  }
}
