@import "variables";
@import "mixins";

.section {
  margin-bottom: $s * 32;

  @include mqMobileMax {
    margin-bottom: $s * 28;
  }

  .section__title {
    margin-bottom: $s * 16;

    font-size: 2rem;
    font-weight: bold;

    @include mqMobileMax {
      font-size: 1.875rem;
      margin-bottom: $s * 12;
    }
  }

  .sub-section {
    margin-bottom: $s * 16;

    &:last-of-type {
      margin-bottom: 0px;
    }

    @include mqMobileMax {
      margin-bottom: $s * 12;
    }

    &__text {
      @include mqMobileMax {
        font-size: 1.125rem;
      }

      font-size: 1.25rem;
      line-height: 1.25em;

      margin-bottom: $s * 4;
    }

    &__image {
      max-height: 450px;
      max-width: 100%;
    }

    .list {
      margin-top: $s * 4;
      margin-bottom: $s * 1;
    }

    .image-wrapper {
      display: flex;

      img {
        max-height: 450px;

        width: 50%;
      }
    }
  }
}
