@import "reset";
@import "variables";
@import "header";
@import "section";
@import "card";
@import "mixins";
@import "components/btn";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif !important;
}

html {
  font-size: 16px;
}

.content-wrapper {
  max-width: 750px;
  margin: 0 auto;

  @include mqDesktopMin {
    max-width: none;
    margin: 0;

    padding: 0 $s * 6;
  }
}
